.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px 0px;
}

.author {
  font-size: 14px;
}

.content {
  background-color: rgb(240, 240, 240);
  padding: 15px 10px;
  border-radius: 5px;
}

.bottom_container {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  color: gray;
  gap: 10px;
}

.delete_btn {
  cursor: pointer;
  width: 4rem;
  height: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
}
